$primary: #ccc;
$primary-dark: #ccc;
$primary-light: #ccc;
$primary-text: #ccc;

$secondary: #ccc;
$secondary-dark: #ccc;
$secondary-light: #ccc;
$secondary-text: #ccc;

$surface-bg: #ccc;
$surface-text: #ccc;

$error-bg: #b00020;
$error-text: #fff;

$success-bg: #ccc;
$success-text: #ccc;

$info-bg: #ccc;
$info-text: #ccc;
