$primary: #687e8c;
$primary-dark: #2e4d59;
$primary-light: #a3b7bf;
$primary-text: #fff;

$surface-bg: #f2f2f2;
$surface-text: #07090d;

$error-bg: #b00020;
$error-text: #fff;

$success-bg: #97ceae;
$success-text: #133722;

$info-bg: #04c4d9;
$info-text: #01261c;
